<div class="logo">[The American Museum of Natural History](http://www.amnh.org/) presents</div>

Join us in transcribing 400,000 fossil mammal specimens housed on seven floors of the Museum's Childs Frick Building. More than half of all the genera of mammals known to science are present in the collection.

<a class="major-button" href="/#/intro">Get Started!</a>

----
